body {
  font-family: 'Waiting for the Sunrise', cursive;
}

.btn {
  text-align: center;
}

.game-start {
  display: none;
}

.jumbotron {
  background-color: #aaaaaa;
  text-align: center;
}

.player2 {
  text-align: right;
}
